@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
body {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Iceland', cursive;
}

#div_login {
    background-image: url(../Imgs/ashe_coven.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    transition: 1s;

}

.div_caixa {
    width: 32vw;
    height: 68vh;
    background-color: rgba(8, 0, 15, 0.911);
    border-radius: 18px;
    margin-left: 4%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #8a2be2 0px 43px 40px, 
    #571792 0px -12px 30px, 
    #571792 0px 4px 6px, 
    #8a2be2 0px 12px 13px, 
    #8a2be2 0px -3px 5px;
    transition: 1s;
}

.form_login {
    margin-top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_caixa h1{
    width: 100%;
    margin-top: -15%;
    text-shadow: #BD25BD 2px 2px 3px;
    font-size: 14.0mm;
    text-align: center;
    
}

.div_caixa label{
    margin-top: 1%;
    font-size: 6.5mm;
    text-shadow: #BD25BD 2px 2px 3px;
    margin-bottom: 8px;
    width: 80%;

    
    
}



.field {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.input_login {
    border-radius: 18px;
    border: solid #660030e3 2px;
    margin-bottom: 2%;
    width: 21vw;
    height: 5vh;
    align-self: center;
}




.botao_entrar {
    width: 7vw;
    height: 5vh;
    color: white;
    font-family: 'Iceland', cursive;
    background-color: #8a2be2;
    border-radius: 18px;
    margin-top: 2%;
    font-size: 5.0mm;
    border: solid 0px;
    transition: 1s;
}

.div_caixa h3{
    font-size: 5.5mm;
    color: #ffeaf4;
    margin-bottom: 4px;
    text-align: center;
}

#clique:hover {
    color: #8f0045;
    cursor: pointer;
}
