@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
body {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Iceland', cursive;
}

.div_home {
    background-image: url(https://a-static.besthdwallpaper.com/coven-ahri-splash-art-league-of-legends-lol-wallpaper-3554x1999-78865_53.jpg);
    background-size: cover;
    width: auto;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

#nav_bar {
    width: 80%;
    height: 13vh;
    margin-left: 10%;
    font-size: 45px;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding: 3%;
    margin: 0%;
    margin-left: 4%;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-shadow: #BD25BD 2px 2px 3px;
}

.text_home{
    display: flex;
    justify-content: end;
    margin-top: 27%;
    margin-right: 9%;
    font-size: 90px;
}

.navbar .login {

    font-size: 110%;
    margin-top: auto;
    text-shadow: #ffffff 0px 0px 44px;
    background: #e236e2;
    background: radial-gradient(ellipse farthest-corner at center center, #e236e2 0%, #FFFFFF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}