@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
body {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Iceland', cursive;
}



.div_sobre {
    background-image: url(../Imgs/master_galante.jfif);
    background-size: cover;
    display: flex;
    width: auto;
    height: 100vh;
    z-index: -5;
}

#sobre_tela_preta {
    background-color: rgba(0, 0, 0, 0.185);
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

#nav_bar {
    width: 98%;
    height: 13vh;
    font-size: 45px;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding: 3%;
    margin: 0%;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-shadow: #0cfc78 2px 2px 3px;
}

#sobre {
    margin-left: -27vw;
}

#box_text {
    background-color: #1a1a1a;
    border-radius: 16px;
    box-shadow: #048a40 0px 30px 40px, 
    #0cfc78 0px -12px 30px, 
    #0cfc78 0px 4px 6px, 
    #078a42 0px 12px 13px, 
    #056d34 0px -3px 5px;
    display: flex;
    padding: 1%;
    margin-top: 12%;
    margin-left: 6%;
    text-align: center;
    align-self: center;
    width: 25%;
    height: 56%;
}

.text_sobre{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.text_sobre span {
    font-size: 44px;
    font-family: 'Iceland', cursive;
    text-shadow: #0cfc78 2px 2px 3px;

}

.navbar .login {

    font-size: 110%;
    margin-top: auto;
    text-shadow: #ffffff 0px 0px 44px;
    background: #0cfc78;
    background: radial-gradient(ellipse farthest-corner at center center, #0cfc78 0%, #FFFFFF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}