@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
body {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Iceland', cursive;
}

#div_login {
    background-image: url(../Imgs/ahri_sabugueiro.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    transition: 1s;

}

#a_voltar {
    color: white;
    margin-top: 5px;
    width: 0%;
    font-size: 8.5mm;
    text-shadow: #01c278 2px 2px 3px;
    margin-left: 10px;
    text-decoration: none;
}


#icone_lol{
    width: 64vw;
    height: 10vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}

#icone_lol img{
    width: 11%;
    height: 60%;
}

.div_caixa {
    width: 32vw;
    height: 68vh;
    background-color: rgba(8, 0, 15, 0.911);
    border-radius: 18px;
    margin-left: 4%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #01c278 0px 30px 40px,
    #25f0a2 0px -12px 30px,
    #25f0a2 0px 4px 6px,
    #01c278 0px 12px 13px, 
    #01c278 0px -3px 5px;
    transition: 1s;
}

.form_login {
    margin-top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_caixa h1{
    width: 100%;
    margin-top: -15%;
    text-shadow: #01c278 2px 2px 3px;
    font-size: 14.0mm;
    text-align: center;
    
}

.div_caixa label{
    margin-top: 1%;
    font-size: 6.5mm;
    text-shadow: #01c278 2px 2px 3px;
    margin-bottom: 8px;
    width: 80%;

    
    
}



.field {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.input_login {
    border-radius: 18px;
    border: solid #660030e3 2px;
    margin-bottom: 2%;
    width: 21vw;
    height: 5vh;
    align-self: center;
    padding-left: 4%;
    font-size: 5.0mm;
}

*{
    font-family: 'Iceland', cursive;
}


.botao_entrar {
    width: 7vw;
    height: 5vh;
    color: white;
    font-family: 'Iceland', cursive;
    background-color: #01c278;
    border-radius: 18px;
    margin-top: 2%;
    font-size: 5.5mm;
    border: solid 0px;
    transition: 1s;
}

.div_caixa h3{
    font-size: 5.5mm;
    color: #ffeaf4;
    margin-bottom: 4px;
    text-align: center;
}

/* #clique:hover {
    color: #8f0045;
    cursor: pointer;
} */

#clique_aqui {
    color: white;
    cursor: pointer;
    text-shadow: #01c278 2px 2px 3px;
    text-decoration: none;

}
