@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Iceland', cursive;
}

#div_dash {
    background-image: url(../Imgs/leblanc_galante.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#tela_preta {
    width: 100vw;
    height: 100vh;
    background-color: #00000046;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #div_boxDash {
    width: 85vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.911);
    border-radius: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: #0cfc78 0px 10px 90px,
        #006b30 0px -12px 30px,
        #0cfc78 0px 4px 6px,
        #006b30 0px 12px 13px,
        #0cfc78 0px -3px 5px;

} */

#div_boxDash {
    width: 50vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.911);
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: #0cfc78 0px 10px 90px,
        #006b30 0px -12px 30px,
        #0cfc78 0px 4px 6px,
        #006b30 0px 12px 13px,
        #0cfc78 0px -3px 5px;
    transition: 1s;

}

#retornar {
    display: none;
    margin-top: -3%;
}

#titulo {
    font-size: 18mm;
    color: #ececec;
    text-decoration: none;
    text-align: center;
    text-shadow: #25ff87 1px 1px 10px;
    margin-bottom: -3%;
    transition: 1s;
}

#box_grafico_elo {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

#box_grafico_musica {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

#box_grafico_rotas {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}



#grafico_elo {
    width: 370px;
    height: 300px;
    transition: 1s;
}
#myChart1 {
    margin-top: -5%;
}

#grafico_musica {
    width: 350px;
    height: 300px;
    transition: 1s;
}

#grafico_rota {
    width: 350px;
    height: 300px;
    transition: 1s;
}

.divs_graficos{
    cursor: pointer;
    font-size: 14mm;
    text-align: center;
    color: #ececec;
    text-decoration: none;
    border-radius: 18px;
    text-shadow: #84ffbb 2px 2px 25px;
    transition: 1s;
} 



