@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Iceland', cursive;
}

.div_vot {
    background-image: url(../Imgs/imgs_cards/ave_borrado.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

.tela_preta {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.tela_preta_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela_preta_box {
    text-align: center;
}

.caixa_vot {
    height: 100%;
    width: 16.5%;
    border-radius: 12px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


#nome_musica1 {
    font-size: 16mm;
    text-shadow: #fdf857 1px 2px 6px;
    transition: 0.3s;
}

#nome_musica2 {
    font-size: 16mm;
    text-shadow: #0ee2e9 1px 2px 6px;
    transition: 0.3s;
}

#nome_musica3 {
    font-size: 16mm;
    text-shadow: #25f0a2 1px 2px 6px;
    transition: 0.3s;
}

#nome_musica4 {
    font-size: 16mm;
    text-shadow: #74b4fd 1px 2px 6px,
    #ff52da 1px 2px 6px;
    transition: 0.3s;
}

#nome_musica5 {
    font-size: 16mm;
    text-shadow: #fc0000 1px 2px 6px,
    #ff9b6d 1px 2px 6px;
    transition: 0.3s;
}

#nome_musica6 {
    font-size: 16mm;
    text-shadow: #74b4fd 1px 2px 6px,
    #ff52da 1px 2px 6px;
    transition: 0.3s;
}

.titulo {
    margin-top: 2%;
    font-size: 20.00mm;
    text-shadow: #ff52da 3px 4px 9px;
}


.area_vot {
    width: 100%;
    height: 50vh;
    display: flex;
    margin-bottom: -4%;
}

.transparente {
    width: 16vw; 
    height: 50vh; 
    background-color: #00000000; 
    z-index: 999; 
    position: absolute; 
    cursor: pointer;
}

#musica1 {
    left: 0%;
}
#musica2 {
    left: 16.5%;
}
#musica3 {
    left: 33.5%;
}
#musica4 {
    left: 50%;
}
#musica5 {
    left: 66.5%;
}
#musica6 {
    left: 83%;
}


#vot1 {
    background-image: url(../Imgs/imgs_cards/lux_mini.png);
    background-size: cover;
    background-clip: content-box;
    border: 1px groove #fdf857;

}

#vot1:hover {
    box-shadow: #f6ffc4 0px 30px 40px,
        #f1ffa1 0px -12px 30px,
        #f1ffa1 0px 4px 6px,
        #f6ffc4 0px 12px 13px,
        #fdf857 0px -3px 5px;
    transition: 0.5s;
    cursor: pointer;
}

#vot2 {
    background-image: url(../Imgs/imgs_cards/ashe_mini.png);
    background-size: cover;
    background-clip: content-box;
    border: 1px groove #0ee2e9;
}

#vot2:hover {
    box-shadow: #0ee2e9 0px 30px 40px,
        #0ee2e9 0px -12px 30px,
        #0ee2e9 0px 4px 6px,
        #0ee2e9 0px 12px 13px,
        #0ee2e9 0px -3px 5px;
    transition: 0.5s;
    cursor: pointer;
}

#vot3 {
    background-image: url(../Imgs/imgs_cards/mini_ekko.png);
    background-size: cover;
    background-clip: content-box;
    border: 1px groove #01c278;
}

#vot3:hover {
    box-shadow: #01c278 0px 30px 40px,
        #25f0a2 0px -12px 30px,
        #25f0a2 0px 4px 6px,
        #01c278 0px 12px 13px,
        #01c278 0px -3px 5px;
    cursor: pointer;
    transition: 0.5s;
}

#vot4 {
    background-image: url(../Imgs/imgs_cards/ahri_mini.png);
    background-size: cover;
    background-clip: content-box;
    border: 1px groove #ff52da;
}

#vot4:hover {
    box-shadow: #74b4fd 0px 10px 90px,
        #ff52da 0px -12px 30px,
        #74b4fd 0px 4px 6px,
        #74b4fd 0px 12px 13px,
        #74b4fd 0px -3px 5px;
    transition: 0.5s;
    cursor: pointer;
}

#vot5 {
    background-image: url(../Imgs/imgs_cards/ryze_mini.png);
    background-size: cover;
    background-clip: content-box;
    border: 1px groove #ff6e2a;
}

#vot5:hover {
    box-shadow: #fc0000 0px 10px 90px,
        #ff9b6d 0px -12px 30px,
        #fc0000 0px 4px 6px,
        #fc0000 0px 12px 13px,
        #ff0202 0px -3px 5px;
    transition: 0.5s;
    cursor: pointer;
}

#vot6 {
    background-image: url(../Imgs/imgs_cards/akali_mini.png);
    background-size: cover;
    background-clip: content-box;
    margin-right: 10px;
    border: 1px groove #74b4fd;
}

#vot6:hover {
    box-shadow: #74b4fd 0px 10px 90px,
        #ff52da 0px -12px 30px,
        #74b4fd 0px 4px 6px,
        #74b4fd 0px 12px 13px,
        #74b4fd 0px -3px 5px;
    transition: 0.5s;
    cursor: pointer;
}