@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Iceland', cursive;
}

#div_elo {
    background-image: url(../Imgs/kda_wallpaper.jpg);
    background-size: contain unset no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: 1s;

}

#a_voltar {
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    width: 0%;
    font-size: 8.5mm;
    text-shadow: #ff52da 1px 0px 13px,
    #74b4fd 2px 1px 3px;
    margin-left: 10px;
    text-decoration: none;
}

*{
    font-family: 'Iceland', cursive;
}

#div_box {
    background-image: url(../Imgs/ahri_kda.jpg);
    background-size: cover;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-right: 2%;
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #74b4fd 0px 10px 90px,
        #ff52da 0px -12px 30px,
        #74b4fd 0px 4px 6px,
        #ff52da 0px 12px 13px,
        #74b4fd 0px -3px 5px;
    transition: 1.5s;

}

.form_elo {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(8, 0, 15, 0.70);
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    text-shadow: #ff52da 2px 1px 3px,
    #f8aef8 1px 0px 13px;
    font-size: 14.5mm;
    margin-bottom: 10px;
    margin-top: 4%;
    text-align: center;
}

#titulo {
    margin-top: 2%;
    text-shadow: #ff52da 1px 0px 13px,
     #74b4fd 2px 1px 3px
    ;
    font-size: 22.0mm;
    margin-bottom: 4%;
}

.aviso {
    text-shadow: #ff52da 2px 1px 3px,
    #74b4fd 2px 1px 3px;
    font-size: 4.5mm;
    margin-top: 5%;
    text-align: center;
}

.select {
    width: 8vw;
    height: 5.5vh;
    color: #35363a;
    position: relative;
    font-family: 'Iceland', cursive;
    background-color: #f8aef8;
    background-image: linear-gradient(0deg, #ecb3ec 0%, #9ee8f0 100%);
    font-size: 5.0mm;
    font-weight: 700;
    border-radius: 12px;
    border: 0px solid;
    text-align: center;
    box-shadow: #74b4fd 0px 2px 90px,
        #ff52da 0px 1px 30px,
        #74b4fd 0px 2px 6px,
        #ff52da 0px 2px 13px,
        #74b4fd 0px 0px 5px;
    transition: 1s;
    align-self: center;
}

.botao_entrar {
    width: 12vw;
    height: 7vh;
    color: white;
    text-shadow: #202020 1px 2px 5px;
    font-family: 'Iceland', cursive;
    align-self: center;
    background-color: #f8aef8;
    background-image: linear-gradient(0deg, #ecb3ec 0%, #9ee8f0 100%);
    border-radius: 18px;
    margin-top: 4vh;
    font-size: 8.5mm;
    border: solid 0px;
    box-shadow: #74b4fd 0px 2px 90px,
        #ff52da 0px 1px 30px,
        #74b4fd 0px 2px 6px,
        #ff52da 0px 2px 13px,
        #74b4fd 0px 0px 5px;
    transition: 1s;
    cursor: pointer;
}