@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Iceland', cursive;
}

#div_cadastro {
    background-image: url(../Imgs/kda_wallpaper.jpg);
    background-size: contain unset no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    transition: 1s;

}

*{
    font-family: 'Iceland', cursive;
}

#div_esquerda {
    background-image: url(../Imgs/kda_wallpaper.jpg);
    background-size: cover;
    width: 24%;
    height: 100;
}


#div_box {
    background-image: url(../Imgs/ahri_kda.jpg);
    background-size: cover;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-right: 2%;
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #74b4fd 0px 10px 90px,
        #ff52da 0px -12px 30px,
        #74b4fd 0px 4px 6px,
        #ff52da 0px 12px 13px,
        #74b4fd 0px -3px 5px;
    transition: 1.5s;

}

.form_cadastro {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    background-color: rgba(8, 0, 15, 0.70);
}

#titulo {
    width: 30%;
    margin-top: 2%;
    text-shadow:#f8aef8 1px 0px 13px,
     #74b4fd 2px 1px 3px
    ;
    font-size: 14.0mm;
    margin-left: 5%;

}

#caixa_campos {
    margin-top: 3%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.inputs_separados {
    width: 50%;
    height: 100%;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    text-shadow: #74b4fd 2px 1px 3px,
    #f8aef8 1px 0px 13px;
    font-size: 8.5mm;
    margin-bottom: 6px;
}

.validacao_erro {
    text-shadow: #b90202 2px 1px 3px,
    #fc1f1f 1px 0px 13px;
    font-size: 5mm;
}

.field .input_cadastro {
    width: 21vw;
    height: 4.5vh;
    margin-bottom: 4%;
    border-radius: 18px;
    border: solid #660030e3 2px;
    padding-left: 4%;
    font-size: 6.0mm;
}

#select_rota {
    margin-left: 2%;
    width: 5vw;
    height: 3.5vh;
    color: #35363a;
    position: relative;
    font-family: 'Iceland', cursive;
    background-color: #f8aef8;
    background-image: linear-gradient(0deg, #ecb3ec 0%, #9ee8f0 100%);
    font-size: 4.0mm;
    font-weight: 700;
    border-radius: 12px;
    border: 0px solid;
    text-align: center;
    box-shadow: #74b4fd 0px 2px 90px,
        #ff52da 0px 1px 30px,
        #74b4fd 0px 2px 6px,
        #ff52da 0px 2px 13px,
        #74b4fd 0px 0px 5px;
    transition: 1s;
}


.botao_entrar {
    width: 12vw;
    height: 7vh;
    color: white;
    text-shadow: #202020 1px 2px 5px;
    font-family: 'Iceland', cursive;
    align-self: center;
    background-color: #f8aef8;
    background-image: linear-gradient(0deg, #ecb3ec 0%, #9ee8f0 100%);
    border-radius: 18px;
    margin-top: 2%;
    font-size: 8.5mm;
    border: solid 0px;
    box-shadow: #74b4fd 0px 2px 90px,
        #ff52da 0px 1px 30px,
        #74b4fd 0px 2px 6px,
        #ff52da 0px 2px 13px,
        #74b4fd 0px 0px 5px;
    transition: 1s;
    cursor: pointer;
}